:root {
  --black: rgba(20, 23, 24, 1);
  --primary: rgba(12, 87, 132, 1);
  --secondary: rgba(239, 147, 35, 1);
  --white: rgba(243, 243, 243, 1);
  --text-2: rgba(0, 0, 0, 1);
  --grey: rgba(178, 178, 178, 1);
  --balck: rgba(20, 23, 24, 1);
  --secondary-1: rgba(239, 147, 35, 1);
  --headings-3-font-family: "Poppins", Helvetica;
  --headings-3-font-weight: 500;
  --headings-3-font-size: 16px;
  --headings-3-letter-spacing: 0px;
  --headings-3-line-height: normal;
  --headings-3-font-style: normal;
  --popup-font-family: "Poppins", Helvetica;
  --popup-font-weight: 400;
  --popup-font-size: 12px;
  --popup-letter-spacing: 0px;
  --popup-line-height: normal;
  --popup-font-style: normal;
  --headings-2-font-family: "Poppins", Helvetica;
  --headings-2-font-weight: 500;
  --headings-2-font-size: 24px;
  --headings-2-letter-spacing: 0px;
  --headings-2-line-height: normal;
  --headings-2-font-style: normal;
  --buttons-font-family: "Poppins", Helvetica;
  --buttons-font-weight: 400;
  --buttons-font-size: 16px;
  --buttons-letter-spacing: 0px;
  --buttons-line-height: normal;
  --buttons-font-style: normal;
  --title-14px-regular-font-family: "Poppins", Helvetica;
  --title-14px-regular-font-weight: 400;
  --title-14px-regular-font-size: 14px;
  --title-14px-regular-letter-spacing: 0px;
  --title-14px-regular-line-height: 21px;
  --title-14px-regular-font-style: normal;
  --title-16px-medium-font-family: "Poppins", Helvetica;
  --title-16px-medium-font-weight: 500;
  --title-16px-medium-font-size: 16px;
  --title-16px-medium-letter-spacing: 0px;
  --title-16px-medium-line-height: 24px;
  --title-16px-medium-font-style: normal;
  --title-16px-regular-font-family: "Poppins", Helvetica;
  --title-16px-regular-font-weight: 400;
  --title-16px-regular-font-size: 16px;
  --title-16px-regular-letter-spacing: 0px;
  --title-16px-regular-line-height: 24px;
  --title-16px-regular-font-style: normal;
}
