:root {
  --black: rgba(20, 23, 24, 1);
  --primary: rgba(12, 87, 132, 1);
  --secondary: rgba(239, 147, 35, 1);
  --white: rgba(255, 255, 255, 1);
  --balck: rgba(20, 23, 24, 1);
  --grey: rgba(178, 178, 178, 1);
  --gray-500: rgba(85, 105, 135, 1);
  --primary-050: rgba(240, 253, 244, 1);
  --headings-3-font-family: "Poppins", Helvetica;
  --headings-3-font-weight: 500;
  --headings-3-font-size: 16px;
  --headings-3-letter-spacing: 0px;
  --headings-3-line-height: normal;
  --headings-3-font-style: normal;
  --popup-font-family: "Poppins", Helvetica;
  --popup-font-weight: 400;
  --popup-font-size: 12px;
  --popup-letter-spacing: 0px;
  --popup-line-height: normal;
  --popup-font-style: normal;
  --headings-2-font-family: "Poppins", Helvetica;
  --headings-2-font-weight: 500;
  --headings-2-font-size: 24px;
  --headings-2-letter-spacing: 0px;
  --headings-2-line-height: normal;
  --headings-2-font-style: normal;
  --buttons-font-family: "Poppins", Helvetica;
  --buttons-font-weight: 400;
  --buttons-font-size: 16px;
  --buttons-letter-spacing: 0px;
  --buttons-line-height: normal;
  --buttons-font-style: normal;
  --display-lg-bold-font-family: "Poppins", Helvetica;
  --display-lg-bold-font-weight: 700;
  --display-lg-bold-font-size: 48px;
  --display-lg-bold-letter-spacing: -0.96px;
  --display-lg-bold-line-height: 60px;
  --display-lg-bold-font-style: normal;
  --text-xl-medium-font-family: "Poppins", Helvetica;
  --text-xl-medium-font-weight: 500;
  --text-xl-medium-font-size: 20px;
  --text-xl-medium-letter-spacing: 0px;
  --text-xl-medium-line-height: 30px;
  --text-xl-medium-font-style: normal;
  --display-sm-bold-font-family: "Poppins", Helvetica;
  --display-sm-bold-font-weight: 700;
  --display-sm-bold-font-size: 30px;
  --display-sm-bold-letter-spacing: 0px;
  --display-sm-bold-line-height: 38px;
  --display-sm-bold-font-style: normal;
  --text-md-medium-font-family: "Poppins", Helvetica;
  --text-md-medium-font-weight: 500;
  --text-md-medium-font-size: 16px;
  --text-md-medium-letter-spacing: 0px;
  --text-md-medium-line-height: 24px;
  --text-md-medium-font-style: normal;
  --text-md-regular-font-family: "Poppins", Helvetica;
  --text-md-regular-font-weight: 400;
  --text-md-regular-font-size: 16px;
  --text-md-regular-letter-spacing: 0px;
  --text-md-regular-line-height: 24px;
  --text-md-regular-font-style: normal;
  --text-sm-regular-font-family: "Poppins", Helvetica;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-regular-font-style: normal;
  --text-lg-medium-font-family: "Poppins", Helvetica;
  --text-lg-medium-font-weight: 500;
  --text-lg-medium-font-size: 18px;
  --text-lg-medium-letter-spacing: 0px;
  --text-lg-medium-line-height: 28px;
  --text-lg-medium-font-style: normal;
  --tailwind-drop-shadow-sm: 0px 1px 2px 0px rgba(85, 105, 135, 0.1);
}
