:root {
  --white: rgba(243, 243, 243, 1);
  --secondary: rgba(239, 147, 35, 1);
  --primary: rgba(12, 87, 132, 1);
  --black: rgba(20, 23, 24, 1);
  --black-900: rgba(18, 18, 18, 1);
  --neutral-01100: rgba(254, 254, 254, 1);
  --neutral-07100: rgba(20, 23, 24, 1);
  --grey: rgba(178, 178, 178, 1);
  --button: rgba(0, 0, 0, 1);
  --headings-1-font-family: "Poppins", Helvetica;
  --headings-1-font-weight: 600;
  --headings-1-font-size: 32px;
  --headings-1-letter-spacing: 0px;
  --headings-1-line-height: normal;
  --headings-1-font-style: normal;
  --hero-adv-font-family: "Poppins", Helvetica;
  --hero-adv-font-weight: 600;
  --hero-adv-font-size: 96px;
  --hero-adv-letter-spacing: 0px;
  --hero-adv-line-height: 134.39999389648438px;
  --hero-adv-font-style: normal;
  --buttons-font-family: "Poppins", Helvetica;
  --buttons-font-weight: 400;
  --buttons-font-size: 16px;
  --buttons-letter-spacing: 0px;
  --buttons-line-height: normal;
  --buttons-font-style: normal;
  --headings-3-font-family: "Poppins", Helvetica;
  --headings-3-font-weight: 500;
  --headings-3-font-size: 16px;
  --headings-3-letter-spacing: 0px;
  --headings-3-line-height: normal;
  --headings-3-font-style: normal;
  --title-12px-medium-font-family: "Poppins", Helvetica;
  --title-12px-medium-font-weight: 500;
  --title-12px-medium-font-size: 12px;
  --title-12px-medium-letter-spacing: 0px;
  --title-12px-medium-line-height: 18px;
  --title-12px-medium-font-style: normal;
  --hairline-1-font-family: "Inter", Helvetica;
  --hairline-1-font-weight: 700;
  --hairline-1-font-size: 16px;
  --hairline-1-letter-spacing: 0px;
  --hairline-1-line-height: 16px;
  --hairline-1-font-style: normal;
  --popup-font-family: "Poppins", Helvetica;
  --popup-font-weight: 400;
  --popup-font-size: 12px;
  --popup-letter-spacing: 0px;
  --popup-line-height: normal;
  --popup-font-style: normal;
  --headings-2-font-family: "Poppins", Helvetica;
  --headings-2-font-weight: 500;
  --headings-2-font-size: 24px;
  --headings-2-letter-spacing: 0px;
  --headings-2-line-height: normal;
  --headings-2-font-style: normal;
  --shadow-01: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
}
